*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aquamarine;
    max-width: 800px;
    /* Centra el bloque principal con margin 0 arriba-abajo 
    y auto derecha-izquierda */
    margin: 0 auto;

    display: grid;
    grid-template-areas: 
                'header header header'
                'menu content content'
                'footer footer footer';
}

.header{
    background-color: blueviolet;
    height: 60px;
    grid-area: header;
}

.menu{
    background-color: darkblue;
    color: aliceblue;
    grid-area: menu;
}

.content{
    background-color: gold;
    grid-area: content;
}

.footer{
    background-color: green;
    grid-area: footer;
}